@media (max-width: 767px) {
	.visible-xs.collapse.in {
		display: block!important;
	}
	.visible-xs.collapse {
		display: none!important;
	}
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1050;
}

.backdrop > .loading {
	color: #FFF;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.userBox {
	width: 200px;
	padding: 2px;
	margin: 2px;
}

.userBoxAvatar {
	width: 48px;
	height: 48px;
	padding: 5px;
}

.navUserBoxAvatar {
	width: 24px;
	height: 24px;
}