@media (max-width: 767px) {
	.visible-xs.collapse.in {
		display: block!important;
	}
	.visible-xs.collapse {
		display: none!important;
	}
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1050;
}

.loading {
	color: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.userBox {
	width: 200px;
	padding: 2px;
	margin: 2px;
}

.userBoxAvatar {
	width: 48px;
	height: 48px;
	padding: 5px;
}

.navUserBoxAvatar {
	width: 24px;
	height: 24px;
}

.badge-heading {
	clear: left;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.badge-heading-first {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.gold-badge {
	padding: 3px;
	margin: 2px;
	background-color: gold;
	font-size: 0.8em;
	text-align: justify;
	float: left;
	border: 1px solid black;
	border-radius: 5px;
}

.silver-badge {
	padding: 3px;
	margin: 2px;
	background-color: silver;
	font-size: 0.8em;
	text-align: justify;
	float: left;
	border: 1px solid black;
	border-radius: 5px;
}

.bronze-badge {
	padding: 3px;
	margin: 2px;
	background-color: darkgoldenrod;
	font-size: 0.8em;
	color: #DDDDDD;
	text-align: justify;
	float: left;
	border: 1px solid black;
	border-radius: 5px;
}

.suggest-badge {
	padding: 3px;
	margin: 2px;
	background-color: #333333;
	font-size: 0.8em;
	text-align: justify;
	float: left;
	border-radius: 5px;
}

.gold {
	color: gold;
}

.silver {
	color: silver;
}

.bronze {
	color: darkgoldenrod;
}

.hg-header {
	background-color: #333;
	margin: 0px;
	padding: 10px;
	color: #DDD;
	height: 50px;
}

.hg-header a {
	text-decoration: none;
	color: #DDD;
}

.hg-header-brand {
	margin: 0px;
	padding: 0px;
	float: left;
}

.hg-navbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.hg-navbar-toggle-button {
	padding-right: 10px;
	float: left;
}

.hg-navbar-right li {
	float: right;
}

.hg-navbar li {
	display: inline-block;
	padding: 0px 16px;
	vertical-align: middle;
	text-align: center;
}

.hg-navbar li a {
	color: #DDD;
	text-decoration: none;
}

.hg-navbar li a:hover {
	color: #FFF;
}

.hg-current-window {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.hg-center-screen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hg-main, .hg-side-menu, .hg-main-content {
	margin: 0px;
	border-width: 0px;
}

.hg-main {
	position: absolute;
	top: 50px;
	left: 0px;
	height: 100%;
	width: 100%;
	padding: 0px;
}

@media (min-width: 768px) {
	.hg-main-content {
		positon: absolute;
		top: 0px;
		left: 0px;
		padding-left: 155px;
	}
}

@media (max-width: 767px) {
	.hg-main-content {
		postion: absolute;
		top: 0px;
		left: 0px;
		padding-left: 5px;
		z-index: 0;
	}
}

.hg-side-menu, .hg-side-menu-float {
	width: 150px;
	height: 100%;
	padding: 0px;
	background-color: whitesmoke;
}

.hg-side-menu {
	position: absolute;
	top: 0px;
	left: 0px;
}

.hg-side-menu-float {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.hg-main-content {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	height: 100%;
}

.hg-container {
	margin: 5px;
	border-width: 2px
	padding: 5px;
}

.hg-side-menu-nav {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.hg-side-menu-nav li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: slategrey;
	font-weight: bold;
}

.hg-side-menu-nav li a.active {
	background-color: lightblue;
}

.hg-side-menu-nav li a:hover:not(.active) {
	background-color: dimgrey;
	color: white;
}
