@media (max-width: 767px) {
	.visible-xs.collapse.in {
		display: block!important;
	}
	.visible-xs.collapse {
		display: none!important;
	}
}

.userBox {
	width: 200px;
	padding: 2px;
	margin: 2px;
}

.userBoxAvatar {
	width: 48px;
	height: 48px;
	padding: 5px;
}

.navUserBoxAvatar {
	width: 24px;
	height: 24px;
}