<header class="navbar navbar-inverse">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#re-navbar-1" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">{{:: $ctrl.appName }}</a>
		</div>

		<nav class="hidden-xs">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Log in</a></li>
			</ul>
			<form class="navbar-form navbar-right" ng-submit="$ctrl.searchQA()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search Q & A" ng-model="$ctrl.searchString">
				</div>
				<button type="submit" class="btn btn-default" ng-show="false">Submit</button>
			</form>
		</nav>

		<nav class="visible-xs" uib-collapse="!$ctrl.isCollapsed">
			<form class="navbar-form" ng-submit="$ctrl.searchQA()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search Q & A" ng-model="$ctrl.earchString">
				</div>
				<button type="submit" class="btn btn-default" ng-show="false">Submit</button>
			<ul class="nav navbar-nav">
				<li><a href="#">Log in</a></li>
			</ul>
		</nav>

	</div>
</header>