<div class="container-fluid">
	<h3>在 href-transitioning 下， $stateChangeSuccess 不能被觸發。</h3>
	<div class="panel panel-primary">
		<div class="panel-body">
			<p>我這結論對不？除非我用 $state.transitinoTo，否則 $stateChangeSuccess 不能被觸發。</p>
			<pre class="pre-scrollable">
//in app config
.state('detail.zoom', {
        url: '/zoom/{itemId}',
        templateUrl: 'detail/zoom-partial.html'
    })

//in html
&lt;a href="#/zoom/{{item.id}}" &gt;ZOOM IT!&lt;/a&gt;

//in directive
scope.$state.transitionTo('detail.zoom', { itemId: item.id});

//in some controller
$scope.$on('$stateChangeSuccess', function () {alert('done transitioning!')});
			</pre>
			<p>transitionTo 的事件會觸發 $stateChangeSuccess，但 href 的版于郤不能，請問是否有辦法兩種事件也可同時觸發？</p>
			<p><small><mark>angularjs</mark>&nbsp;&nbsp;<mark>angularjs-routing</mark></small></p>
			<hr>
			<div class="row">
				<div class="col-sm-3">
					<p><span class="glyphicon glyphicon-arrow-up text-primary" title="這問題對我有幫助"></span>&nbsp;<strong class="text-info">1</strong>&nbsp;<span class="glyphicon glyphicon-arrow-down text-primary" title="這問題對我沒有幫助"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-star-empty text-warning"></span></p>
					<button class="btn btn-default btn-xs">修改</button>
				</div>
				<div class="col-sm-9">
					<a ui-sref="user({uid: 1})"><user-box class="pull-right" qa-type="問" qa-time="2013-08-02 08:02" user="ctrl.users[0]"></user-box></a>
				</div>
			</div>
			<hr>
			<ul class="list-group">
				<li class="list-group-item"><small class="text-muted">或許你應該試試 $routeChangeSuccess - <a href="#">CodeHater</a> <span class="text-muted">2013-08-02 08:06</span></small></li>
				<li class="list-group-item"><small class="text-muted">@Codezilla, 我可以試，但我很懷疑，因我用的是 angular-ui/ui-router，一個不同於 angularjs 的類，不是默認的 routeProvider。 - <a href="#">{{:: ctrl.users[0].username }}</a> <span class="text-muted">2013-08-02 08:18</span></small></li>
				<li class="list-group-item"><small class="text-muted">噢，我知道我犯了甚麼錯了，我有一個 nested state 但我並沒有在 href 處用全 url。 - <a href="#">{{:: ctrl.users[0].username }}</a> <span class="text-muted">2013-08-02 08:24</span></small></li>
				<li class="list-group-item"><small><a href="#" class="text-muted">加入評語</a></small></li>
			</ul>
		</div>
	</div>
	<h4>4 個答案</h4>
	<div class="panel panel-primary">
		<div class="panel-body">
			<p>我覺得你似乎正在使用 nested state，那個叫「detail」的 state 是否應該有一個分離的 url，即全 url 是 url:'/detail{itemID}/zoom'？</p>
			<hr>
			<div class="row">
				<div class="col-sm-3">
					<p><span class="glyphicon glyphicon-arrow-up text-primary" title="這答案對我有幫助"></span>&nbsp;<strong class="text-info">1</strong>&nbsp;<span class="glyphicon glyphicon-arrow-down text-primary" title="這答案對我沒有幫助"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-ok text-danger"></span></p>
					<button class="btn btn-default btn-xs">修改</button>
				</div>
				<div class="col-sm-9">
					<div class="pull-right">
						<a ui-sref="user({uid: 2})"><user-box qa-type="答" qa-time="2013-08-02 08:02" user="ctrl.users[1]"></user-box></a>
					</div>
				</div>
			</div>
			<hr>
			<ul class="list-group">
				<li class="list-group-item"><small class="text-muted">對，這正是我所錯的，謝謝！我對以部份 url 設置 state 設定有些混亂，在 html 內，當然是會使用全 url 的。 - <a href="#">{{:: ctrl.users[0].username }}</a> <span class="text-muted">2013-08-02 08:31</span></small></li>
				<li class="list-group-item"><small><a href="#" class="text-muted">加入評語</a></small></li>
			</ul>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-body">
			<p>試試:</p>
			<pre class="pre-scrollable">
$rootScope.$on('$stateChangeSuccess', function () {
	alert('done transitioning!')
});
			</pre>
			<hr>
			<div class="row">
				<div class="col-sm-3">
					<p><span class="glyphicon glyphicon-arrow-up text-primary" title="這答案對我有幫助"></span>&nbsp;<strong class="text-info">1</strong>&nbsp;<span class="glyphicon glyphicon-arrow-down text-primary" title="這答案對我沒有幫助"></span></p>
					<button class="btn btn-default btn-xs">修改</button>
				</div>
				<div class="col-sm-9">
					<div class="pull-right">
						<a ui-sref="user({uid: 3})"><user-box qa-type="答" qa-time="2015-05-05 12:26" user="ctrl.users[2]"></user-box></a>
					</div>
					<div class="pull-right">
						<a ui-sref="user({uid: 4})"><user-box qa-type="修改" qa-time="2015-05-05 13:00" user="ctrl.users[3]"></user-box></a>
					</div>
				</div>
			</div>
			<hr>
			<ul class="list-group">
				<li class="list-group-item"><small class="text-muted">這或許是一個答案，但若加入解釋此代碼如何生效的話，這將會是一大改進。 - <a href="#">11684</a> <span class="text-muted">2013-08-02 08:31</span></small></li>
				<li class="list-group-item"><small><a href="#" class="text-muted">加入評語</a></small></li>
			</ul>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-body">
			<p>在你的指令裡，可否試試 scope.$apply()？</p>
			<pre class="pre-scrollable">
//in directive
scope.$state.transitionTo('detail.zoon', { itemId: item.id});
scope.$apply();
			</pre>
			<hr>
			<div class="row">
				<div class="col-sm-3">
					<p><span class="glyphicon glyphicon-arrow-up text-primary" title="這答案對我有幫助"></span>&nbsp;<strong class="text-info">0</strong>&nbsp;<span class="glyphicon glyphicon-arrow-down text-primary" title="這答案對我沒有幫助"></span></p>
					<button class="btn btn-default btn-xs">修改</button>
				</div>
				<div class="col-sm-9">
					<div class="pull-right">
						<a ui-sref="user({uid: 5})"><user-box qa-type="答" qa-time="2015-08-02 08:22" user="ctrl.users[4]"></user-box></a>
					</div>
				</div>
			</div>
			<hr>
			<ul class="list-group">
				<li class="list-group-item"><small class="text-muted">scope.$state.transitionTo 沒有問題，所以不需要 $apply()，只是那個 href 不能啟動事件。謝謝！ - <a href="#">{{:: ctrl.users[0].username }}</a> <span class="text-muted">2013-08-02 08:31</span></small></li>
				<li class="list-group-item"><small><a href="#" class="text-muted">加入評語</a></small></li>
			</ul>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-body">
			<p>你可用一個 ^ 符號縮少 nested URLs。</p>
			<pre class="pre-scrollable">
.state('detail.zoom', {
	url: '^/zoom/{itemId}',
	templateUrl: 'detail/zoom-partial.html'
})

&lt;a href="#/zoom/{{item.id}}" &gt;ZOOM IT!&lt;/a&gt;
			</pre>
			<hr>
			<div class="row">
				<div class="col-sm-3">
					<p><span class="glyphicon glyphicon-arrow-up text-primary" title="這答案對我有幫助"></span>&nbsp;<strong class="text-info">0</strong>&nbsp;<span class="glyphicon glyphicon-arrow-down text-primary" title="這答案對我沒有幫助"></span></p>
					<button class="btn btn-default btn-xs">修改</button>
				</div>
				<div class="col-sm-9">
					<div class="pull-right">
						<a ui-sref="user({uid: 6})"><user-box qa-type="答" qa-time="2013-02-13 10:22" user="ctrl.users[5]"></user-box></a>
					</div>
				</div>
			</div>
			<hr>
			<ul class="list-group">
				<li class="list-group-item"><small><a href="#" class="text-muted">加入評語</a></small></li>
			</ul>
		</div>
	</div>

	<div ng-hide="$root.isLoggedIn || ctrl.isAnswered">
		<h4>提供你的答案？請先<a ui-sref="authUser.login">登錄/注冊</a>。</h4>
	</div>

	<div class="panel panel-primary" ng-show="$root.isLoggedIn && !ctrl.isAnswered">
		<div class="panel-body">
			<h4>您的答案</h4>
			<form>
				<div class="alert alert-success" role="alert" ng-show="ctrl.showAnswerTips">
					<h5>怎樣寫答案</h5>
					<p>How to write answer tips line 1</p>
					<p>How to write answer tips line 2</p>
					<p>How to write answer tips line 3</p>
					<p>How to write answer tips line 4</p>
				</div>
				<div class="form-group">
					<textarea class="form-control" ui-tinymce="ctrl.tinymceOptions" ng-model=ctrl.answer></textarea>
				</div>
				<button class="btn btn-primary" ng-click="ctrl.submitAnswer()">提交</button>
			</form>
		</div>
	</div>

	<div class="panel panel-primary" ng-show="ctrl.isAnswered">
		<div class="panel-body">
			<div ng-bind-html="ctrl.answer"></div>
			<hr>
			<div class="row">
				<div class="col-sm-3">
					<p><span class="glyphicon glyphicon-arrow-up text-primary" title="這答案對我有幫助"></span>&nbsp;<strong class="text-info">0</strong>&nbsp;<span class="glyphicon glyphicon-arrow-down text-primary" title="這答案對我沒有幫助"></span></p>
					<button class="btn btn-default btn-xs">修改</button>
					<button class="btn btn-default btn-xs">刪除</button>
				</div>
				<div class="col-sm-9">
					<div class="pull-right">
						<a ui-sref="user({uid: 0})"><user-box qa-type="答" qa-time="{{:: ctrl.answerTime }}" user="$root.user"></user-box></a>
					</div>
				</div>
			</div>
			<hr>
			<ul class="list-group">
				<li class="list-group-item"><small><a href="#" class="text-muted">加入評語</a></small></li>
			</ul>
		</div>
	</div>

	<div ng-show="ctrl.isAnswered">
		<button class="btn btn-primary">添加一個答案</button>
	</div>

</div>