<div ng-show="$ctrl.isLoading">
	加載中...
</div>
<div class="list-group" ng-hide="$ctrl.isLoading">
	<a href="" class="list-group-item" ng-repeat="question in $ctrl.questions">
		<div class="row">
			<div class="col-sm-10 col-sm-push-2">
				<h4 class="list-group-item-heading">{{:: question.title }}</h4>
				<p class="list-group-item-text">
					<span ng-repeat="tag in question.tags"><mark><small>{{:: tag }}</small></mark>&nbsp;&nbsp;</span>
				</p>
			</div>
			<div class="col-sm-2 col-sm-pull-10">
				<div class="row">
					<div class="col-xs-1">
						<span class="glyphicon glyphicon-thumbs-up" title="讚好"></span><br><small>{{:: question.votes | shortNumber: 0 }}</small>
					</div>
					<div class="col-xs-1">
						<span class="glyphicon glyphicon-comment" title="答案"></span><br><small>{{:: question.answers | shortNumber: 0 }}</small>
					</div>
					<div class="col-xs-1">
						<span class="glyphicon glyphicon-eye-open" title="看過"></span><br><small>{{:: question.views | shortNumber: 0 }}</small>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>