<div style="margin: 10px; padding: 5px;">
	<form ng-submit="ctrl.searchQA()">
		<div class="row">
			<div class="col-sm-11" style="padding-right: 5px;">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search Questions and Answers" ng-model="ctrl.searchString">
				</div>
			</div>
			<div class="col-sm-1 hidden-xs" style="padding-left: 5px;">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
	</form>
</div>
<h4>4 個搜索結果</h4>
<ng-include src="'/templates/searchResultList.html'" />