<div class="list-group list-group-primary">
	<div class="list-group-item" ng-repeat="result in ctrl.searchResult">
		<div class="row">
			<div class="col-sm-1 hidden-xs">
				<h4 class="glyphicon glyphicon-thumbs-up text-info" title="讚好"> {{:: result.votes | shortNumber: 0 }}</h4><br>
				<h4 class="glyphicon glyphicon-comment text-info" title="答案" ng-hide="result.type == 'A'"> {{:: result.answers | shortNumber: 0 }}</h4>
			</div>
			<div class="col-sm-11 col-xs-12">
				<a ui-sref="question({qid: 111})"><h4 class="list-group-item-heading">{{:: (result.type == 'Q')? '問' : '答' }}: {{:: result.title }}</h4></a>
				<p class="list-group-item-text" ng-bind-html="result.content"></p>
				<p class="list-group-item-text">
					<span ng-repeat="tag in result.tags"><mark><small>{{:: tag }}</small></mark>&nbsp;&nbsp;</span>
				</p>
				<p class="list-group-item-text pull-right">{{:: (result.type == 'Q')? '問' : '答'}}於 {{:: result.time }} by <a href="#">{{:: result.username }}</a></p>
			</div>
			<div class="col-xs-1 visible-xs">
				<small class="glyphicon glyphicon-thumbs-up text-info" title="讚好"> {{:: result.votes | shortNumber: 0 }}</small>
			</div>
			<div class="col-xs-1 visible-xs">
				<small class="glyphicon glyphicon-comment text-info" title="答案" ng-show="result.type == 'Q'"> {{:: result.answers | shortNumber: 0 }}</small>
			</div>
		</div>
	</div>
</div>