<div class="panel panel-default" style="position: relative; top: 20px;">
	<div class="panel-body">
		<p>
			<button class="btn" style="background-color: #e0492f; color: white">Google</button>
			<button class="btn" style="background-color: #395697; color: white">Facebook</button>
		</p>
		<p> -- 或 --</p>
		<form>
			<div class="form-group">
				<label for="loginEmail">顯示名稱</label>
				<input type="email" class="form-control" id="loginEmail" placeholder="陳大文" />
			</div>
			<div class="form-group">
				<label for="loginEmail">電郵地址</label>
				<input type="email" class="form-control" id="loginEmail" placeholder="youremail@yourdomain.com" />
			</div>
			<div class="form-group">
				<label for="loginPassword">密碼</label>
				<input type="password" class="form-control" id="loginPassword" placeholder="******" />
			</div>
			<div class="form-group">
				<label for="loginPassword">確認密碼</label>
				<input type="password" class="form-control" id="loginPassword" placeholder="******" />
			</div>
			<button ng-click="ctrl.userSignUp()" class="btn btn-primary">注冊</button>
		</form>
	</div>
</div>