<div class="userBox">
	<small class="text-muted" ng-hide="$ctrl.qaType == 'N'">{{ $ctrl.qaType }}於 {{ $ctrl.qaTime }}</small>
	<div class="row">
		<div class="col-xs-3">
			<img class="userBoxAvatar" src="{{ $ctrl.user.avatar }}">
		</div>
		<div class="col-xs-9">
			<p class="text-muted" style="margin: 0px;"><small>{{ $ctrl.user.username }}</small></p>
			<p class="text-muted" style="margin: 0px;"><small>譽-{{ $ctrl.user.reputation }} 章-{{ $ctrl.user.numOfBadges.gold + $ctrl.user.numOfBadges.silver + $ctrl.user.numOfBadges.bronze }}</small></p>
		</div>
	</div>
</div>